# Ignore old versions
landing-home-styling-professional.html
landing-redesign-2026.html
landing-final-2026.html

# Ignore unused images
interior-room-design-with-armchair-potted-plants.jpg
modern-luxury-authentic-dining-room-interior-design.jpg
picture-frame-by-velvet-armchair.jpg
